/* header */
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 12.5rem;
}

.header__login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: var(--gray50);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
}

/* main */
.hero,
.closing-banner {
  background-color: var(--banner-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.hero__image,
.closing-banner__image {
  padding-top: 10rem;
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.hero__title,
.feature-section__headline,
.closing-banner__headline {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--gray700);
}

.feature-section__title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.feature-section__description {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--gray700);
}

.hero__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 7.75rem;
  margin-top: 2rem;
  background-color: var(--primary-color);
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray50);
}

.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-section__item {
  display: flex;
  align-items: center;
  margin: 8rem 0;
  gap: 5%;
  white-space: nowrap;
}

.feature-section__item--reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.feature-section__content {
  display: flex;
  flex-direction: column;
}

/* footer */
.footer {
  background-color: var(--background-color-dark);
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 2rem 25rem 0;
}
.footer__nav,
.footer__social {
  display: flex;
  gap: 5%;
}

.footer__nav-item,
.footer__social-itme {
  font-size: 1rem;
  color: var(--gray50);
  white-space: nowrap;
}

.footer__source {
  font-size: 1rem;
  color: var(--gray50);
}

/* login, signup */
.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 600px;
}

.header__login,
.header__signup {
  margin-bottom: 40px;
}

.form__login,
.form__signup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label-email,
.form__label-nickname,
.form__label-password,
.form__label-password-confirm {
  color: var(--gray800);
  margin-bottom: 20px;
}

.form__input-email,
.form__input-nickname,
.form__input-password,
.form__input-password-confirm {
  background-color: var(--gray100);
  padding: 20px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.form__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form__toggle-password,
.form__toggle-password-confirm {
  position: absolute;
  right: 20px;
  border: none;
  cursor: pointer;
}

.form__input-button {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--gray100);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: var(--font-size-large);
  margin-bottom: 30px;
  width: 100%;
}

.quick-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-light-color);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.footer__link {
  text-decoration: underline;
  color: var(--primary-color);
}

/* @media screen and (max-width: 767px) {
  .header__nav {
    padding: 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content {
    padding-top: 4rem;
  }

  .hero__image {
    max-width: 80%;
    height: auto;
    vertical-align: bottom;
  }

  .hero__link {
    margin-top: 1rem;
    font-size: 1rem;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  .search-banner {
    display: flex;
    flex-direction: column;
  }

  .content-item {
    display: flex;
    width: 100%;
  }

  h2 {
    white-space: nowrap;
    display: inline;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1920px) {
} */
