:root {
  --color-primary-surface: #e6f2ff;
  --color-primary: #3692ff;
  --color-primary-banner: #cfe5ff;

  --color-button-hover: #1251aa;
  --color-button-active: #3692ff;
  --color-button-disabled: #9ca3af;
  --color-button-disabled-text: #f3f4f6;

  --color-text-title: var(--gray700);
  --color-text-label: var(--gray800);
  --color-text-muted: var(--gray500);
  --color-text-placeholder: var(--gray400);
  --color-text-button: var(--gray100);
  --color-text-subtle: var(--gray50);
  --color-text-input-error: #f74747;

  --color-border-error: #f74747;
  --color-border: var(--gray200);
  --color-surface-input: var(--gray100);
  --color-footer-background: var(--gray900);
  --color-item-link: var(--gray50);
  --color-nav-background: #ffffff;

  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;

  --font-size-small: 12px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 48px;
}
